
WebAPI/.vs/WebAPI/FileContentIndex/54d3effb-38a0-4c9f-9cce-b7820ac0d35b.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/2f874a4c-e6ef-4d66-a193-445164300c4d.vsidx
WebAPI/.vs/slnx.sqlite
WebAPI/.vs/WebAPI/FileContentIndex/9739ce54-c1b2-4bc6-9005-e96728bfbc38.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/79bf59fb-264f-4b93-8b64-351effbe6f99.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/796c8b98-e34b-4a58-b25a-da19a24392c9.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/7dea4880-3fe3-4b5d-9222-aaae49d4a1b2.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/d4d9a93a-e9f8-42fc-a4ee-d4f935008d90.vsidx
WebAPI/.vs/WebAPI/v17/.wsuo
